---
import Layout from "../layouts/Layout.astro";
import { IconDeviceLaptop } from "@tabler/icons-react";
import InternalLinks from "../components/internal-links.astro";
import { IconHome } from "@tabler/icons-react";
---

<Layout title="alisson.dev">
  <header class="flex gap-2 flex-col">
    <h1 class="text-2xl text-primary flex gap-2">
      <span transition:name="home" class="w-fit"><IconHome size={32} /></span>
      <span>Hello there, I'm Alisson.</span>
    </h1>
    <h2 class="text-xl text-secondary">
      Carbon based lifeform, software developer, and runner.
    </h2>
  </header>

  <main class="flex flex-col gap-2 text-lg">
    <p>
      I'm a software developer with a passion for life, currently working as a
      tech lead at <a
        href="https://matrixcargo.com.br"
        target="_blank"
        class="text-primary">matrixcargo</a
      >.
    </p>
    <p>You can checkout the curated stuff I share online here:</p>
    <InternalLinks />
  </main>
</Layout>
